@base00: #c792ea;
@base02: #bfc7d5; 
@base03: #4c5374;

@base04: #D8DEE9;
@base05: #5a448a;
@base06: #ECEFF4;

@base08: #c792ea;
@base09: #ff869a;
@base0A: #82b1ff;

@base0B: #BF616A;
@base0C: #ffcb6b;
@base0D: #6f4eab;
@base0E: @base0A;
@base0F: #B48EAD;
